/* .background-banner {
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #605252;  
    background: linear-gradient(rgba(27, 27, 27, 0.8), rgba(3, 93, 118, 0.443)), url("./img/Background.jpg");  
    background-size:100%;
    background-repeat: no-repeat;
}
.body{
    padding-top: 65px;
} */


.App {
    text-align: center;
    margin-top: -50;
  }
  
  .centered-text {
    font-size:200%;
    font-family: var(--font-family);
    position: absolute;
    top: 50%;
    left: 40%;
    
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  }
  
  .center-image {
    /* margin-top: 5px; */
    height: auto;
    width: 100%; 
  }

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  scroll-behavior: smooth;
  
}
.home{
  /* background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* safari 5.1+,chrome 10+ */
  /* background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* opera 11.10+ */
  /* background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* ie 10+ */
  /* background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%); */

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 25% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 50%);
  min-height: 700px;
  z-index: -1;
}


.navbar .nav-link {
  color: white !important; /* Set the text color to white */
}

.navbar-toggler-icon {
  background-color: white !important; /* Set the hamburger icon color to white */
}

.header-color {
  /* background-color: rgba(255, 255, 255, 0.8); Set the background color with opacity */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  -webkit-backdrop-filter: blur(5px); /* For compatibility with some browsers */
  border: none !important;
  box-shadow: none !important;
}

.home-image img{
  width: 200%;
  height: auto;
}

.latest-content h1{
  color: var(--color-text);
  text-shadow: chocolate;
}


.click-button{
  font-family: var(--font-family);
  background: #FF4820;
  border: 2px solid #FF4820;
  cursor: pointer;
    outline: none;

}


/* navbar */



.header-color-scroll{
  background:rgb(2,27,56);
  backdrop-filter: blur(10px);
}

.header-color{
  background: transparent;
  /* background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%); */

}

.card-container{
  box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}

.card-details{
  margin-top: 100px;
  font-family: var(--font-family);
  
}

.text_color{
  color: var(--color-text);


}






